{% extends "network/layout.html" %} {%block title%}Following Page{%endblock%} 
{%block body %}
<div class="following-container row">
<div class="col-3 left">
   {%if request.user.is_authenticated %}
      <div class="d-flex person">       
         <div class="sub-person ml-2">
            <h5>{{request.user.username}}</h5>
            <p><i>{{request.user.email}}</i></p>
         </div>
      </div>   
   {% endif %}
</div>
<div class="col-8">
   {%if posts%}
<p>Post(s): {{ posts|length }}</p>
<div class="new-post">
   {%for post in posts%}
   <div class="sub-new-post">
      <div class="d-flex">
         <i class="bi bi-person-bounding-box"></i><h5 class="mx-1"><a href="{% url 'profile' post.poster.id %}">{{post.poster.username}}</a></h5>
      </div>
      <p>{{post.created_at}}</p>
      <p>{{post.content}}</p>      
   </div>
   {%endfor%}
</div>
{%endif%}
</div>

</div>
{%endblock%}