{% extends "network/layout.html" %} 
{% load static %}
{%block title%}Home Page{%endblock%} 
{%block body %}

<div class="index-container row">
   <div class="col-3 left">
    {%if request.user.is_authenticated%}
      <div class="d-flex person">
         <img src="{% static 'network/images/person.png' %}" alt='person' width="100" height="85" />
         <div class="sub-person ml-2">
            <h5>{{request.user.username}}</h5>
            <p><i>{{request.user.email}}</i></p>
         </div>
      </div>
      {%else%}
      <p>You're not logged in.</p>
      {%endif%}
   </div>
   <div class="col-8">
      <div class="new-post">
         <form action="{% url 'posts' %}" method="POST">
           {%csrf_token%}
           <div class="sub-new-post">
             <p>New Post:</p>
             <div class="create-input">
               <textarea name="content"></textarea>
             </div>
             <button type="submit" class="btn btn-primary">Post</button>
           </div>
         </form>
       </div>
       {%if post_counts%}
       <p class="ml-3">Posts: {{post_counts}}</p>
       {%endif%}
     {%if posts and like_counts%}
       <div class="new-post">
         {%for post in posts %}
         <div class="sub-new-post">
           <div class="d-flex">
             <i class="bi bi-person-bounding-box"></i>
             <h5 class="mx-1">
               <a href="{%url 'profile' post.poster.id %}"
                 >{{post.poster.username}}</a
               >
             </h5>
           </div>
           <div id="editable-content-{{ post.id }}" style="display:none;">
             <form action="{% url 'save_content' post.id%}" method="POST">
               {%csrf_token%}           
               <textarea name="content" class="input-textarea">
                 {{ post.content }}
               </textarea>
               <button type="submit" class="btn btn-sm btn-primary mb-2">Save Changes</button>
             </form>
           </div>
           <div id="original-content-{{ post.id }}">
              {%if request.user == post.poster%}
              <button type="submit" class="pencil-circle" onclick="enableEdit({{ post.id }})"><i class="bi bi-pencil-fill pencil" id="btnEdit"></i></button>
              {%endif%}
             <p>{{ post.content }}</p>        
           </div>     
           <p><i>{{ post.timestamp }}</i></p>      
           <div class="like">       
             <button type="button" data-post-id="{{ post.id }}" class="like-btn liked" id="btnLike">
             <i class="bi bi-heart-fill heart" id="heart-icon-{{ post.id }}"></i>
           </button>  
           <span id="likes-count-{{ post.id }}"></span>  
         </div>
       </div>
         {%endfor%}   
         <div class="pagination-container">       
         {% if posts.has_other_pages %}
           <ul class="pagination justify-content-center">
           {% if posts.has_previous %}
             <li class="mx-3"><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
           {% else %}
             <li class="disabled class="mx-3""><span>Previous</span></li>
           {% endif %}
           {% for i in posts.paginator.page_range %}
             {% if posts.number == i %}
               <li class="active mx-3"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
             {% else %}
               <li class="mx-3"><a href="?page={{ i }}">{{ i }}</a></li>
             {% endif %}
           {% endfor %}
           {% if posts.has_next %}
             <li class="mx-3"><a href="?page={{ posts.next_page_number }}">Next</a></li>
           {% else %}
             <li class="disabled mx-3"><span>Next</span></li>
           {% endif %}
           </ul>
        {% endif %}
           </div>
       </div>
       {%else%}
       <p>No posts have been posted yet!</p>
       {%endif%}
      </div>
</div>
{%block script%}
  <script>const csrfToken = "{{ csrf_token }}"</script>
  <script src="{% static 'network/index.js' %}"></script>
{%endblock%}
<script>
   const enableEdit=(postId)=>{
      let editableContent=document.querySelector(`#editable-content-${postId}`)
      let originContent=document.querySelector(`#original-content-${postId}`)
      let btnEdit=document.querySelector("#btnEdit") 
     
       //alert('btnEdit got invoked')
 
        if(editableContent.style.display==="block"){
          editableContent.style.display="none"
          originContent.style.display="block"
          btnEdit.style.display="block"
        } else {
          editableContent.style.display="block"
          originContent.style.display="none"
          btnEdit.style.display="none"
        }
   }
   
 </script>
{% endblock %}
