.index-container{
   margin:0 15px;
   border: 5px solid green;
   box-sizing: border-box;
}
.new-post{
   border:5px solid #d0d5d5;
   margin:10px;  
}
.sub-new-post {
   margin:15px;  
   border:1px solid goldenrod;
}
.create-input textarea{
   width: 100%;
   height: 55px;
   padding:5px;
   border:1px solid #d0d5d5;   
   box-sizing: border-box;
}
.person {
   border-radius:15px;
   border:1px solid #d0d0d5;
   margin-top:10px;
}
.network-icon{
   border-radius: 50%;
}

.heart {
   color: red;
   border:none;
}
#btnLike {
   border:none;
}
.hidden{
   display:none;
}
.original-content{
   position: relative;
   border-left: 5px dotted pink;
   border-right:5px dotted pink;
   padding-left: 5px;   
   margin: 5px;
}
.original-content .pencil {
   position:absolute;
   right:0;
   top:0;
   color: blue;
   cursor: pointer;  
}

.input-textarea{
   width: 80%;
   height: 80px;
   margin: 10px;
   padding: 5px;
   color: #006699;
}