.profile-container{
   box-sizing: border-box;
   margin:0 15px;
}
.sub-profile{
   margin:15px;  
   border:1px solid goldenrod;
}
.post-content{
   padding: 5px;
   border-radius: 5px;   
}
.follow,.unfollow{
   border-radius: 15px;
   background-color: black;
   margin-left:20px;
}