.profile-container{
   margin:0 15px;
   border: 5px solid green;
   box-sizing: border-box;
}
.profile{
   border:5px solid #d0d5d5;
   margin:10px;
}
.sub-profile{
   margin:15px;  
   border:1px solid goldenrod;
}
.post-content{
   border: 1px solid lightgray;
   padding: 5px;
   border-radius: 5px;
   
}